<ul>
  <li>Title: {{title}}</li>
  <li>Author: {{author}}</li>
  <li>Release Date: {{releaseDate}}</li>
  <li>Keywords: {{keywords}}</li>
</ul>

<button class="delete" data-cid="{{cid}}">Delete</button>
